.container {
    color: green;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.card {
    width: 70px;
    height: 80px;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 36px;
}