h1 {
    background-color: brown;
}

.container {
    color: green;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.card {
    width: 100px;
    height: 120px;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 36px;
}

.add-card {
    cursor: pointer;
    background-color: cadetblue;
    color: black;
    position: absolute;
    bottom: 33px;
    right: 32px;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    line-height: 10px;
}